
h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    float: left;
}

.topbar {
    margin-left: 32px;
    margin-top: 21px;
    display: inline;
    width: 100%;
}

#menu_button {
    position: relative;
    z-index: 2;
    float: right;
    right: 0px;
    width: 30px;
    height: 23px;
    margin-top: 9px;
    background-color: transparent;
    border: 0;
    vertical-align: middle;
}
