@page "/"
@using static GOES_X.Shared.NavMenu

<div class="topbar">
    <h1>@SatelliteName</h1>

    <button @onclick="ToggleMenu" id="menu_button">
        <svg width="30" height="23" viewBox="0 0 30 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="30" height="3" fill="#FFF"/>
            <rect y="10" width="30" height="3" fill="#FFF"/>
            <rect y="20" width="30" height="3" fill="#FFF"/>
        </svg>
    </button>
    <NavMenu Style="@MenuStyleCSS" />
</div>


@code {
    // Dynamic CSS
    public bool MenuVisible = false;
    public string MenuStyleCSS => (MenuVisible ? "show" : "collapse");

    public string SatelliteName { get; set; } = "GOES 17";

    private void ToggleMenu()
    {
        MenuVisible = !MenuVisible;
    }
}
